@import '../../main.scss';

.profile-background {
    background-color: $primary;
}

.picture-position {
    border: 1px solid transparent;
    padding: 5px 5px 5px 5px;
    background-color: $light;
    margin-bottom: -2rem;
    box-shadow: $gray-100;
    z-index: 10;
}

.picture-position figure  {
    margin: 0 0 0;
}

