.vertical-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d2d2d2
  }

  .current-work-date {
    color: black;
  }

