@import './main.scss';

body {background-color: $light}

.shadow {
  border-radius: 10px;
  border: thin;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.content {
  padding: 1em;
  border: 1px solid #b5b5b5;
  width: fit-content;
  transition: 0.5s;
}

.content:hover {
  box-shadow: 0 0 3px black;
  margin-top: -10px;
}

